@import './variables';

$scaleValueDefault: 1;
$scaleValueGrow: 1.3;

@mixin textStyle($size, $color, $weight, $transform, $isLink: false){
    font-size: calculateRem($size);
    color: $color;
    font-weight: $weight;
    text-transform:  $transform;
    font-family: 'Raleway' !important;
    @if $isLink{
        text-decoration: none;
    }
};

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}